:root {
  scroll-behavior: smooth;
  --navbar-height: 5rem;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  --mainBorderRadius: 0.25rem;
  --clr-bg: #23283e;
  --clr-fg: #fff;
  --clr-primary: #90a0d9;
  --text-clr:linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-fg);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}


.disable-scroll {
  overflow-y: hidden;
  touch-action: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}


a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.6rem;
  }
}
