.nav {
  /* height: var(--navbar-height); */
  /* justify-content: center; */
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav.shadow {
  box-shadow: var(--shadow);
}

.logo {
  width: 2rem;
  height: 2rem;
}

.nav__content {
  /* max-width: 1020px; */
  width: 90%;
  margin: 0 auto;
  padding-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__content a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
